@model IEnumerable<GalacticUniversity.Models.Lecture>

<div class="container mt-4">
    <h2>Lectures List</h2>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Lecture Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.LectureID</th>
                    <td>@item.LectureName</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="Lecture" asp-route-id="@item.LectureID">Edit</a>

                        <form asp-action="Delete" asp-controller="Lecture" asp-route-id="@item.LectureID" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
