@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />


<div class="d-flex justify-content-center align-items-center vh-100">
    <form id="account" method="post" class="form">
        <div class="form-title"><span>Sign in to your</span></div>
        <div class="title-2"><span>SPACE</span></div>

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="input-container">
            <input asp-for="Input.Email" class="input-mail form-control" autocomplete="username" aria-required="true" placeholder="Enter email" />
            <span></span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="input-container">
            <input asp-for="Input.Password" class="input-pwd form-control" autocomplete="current-password" aria-required="true" placeholder="Enter password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <button id="login-submit" type="submit" class="submit">
            <span class="sign-text">Sign in</span>
        </button>

        <p class="signup-link">
            No account?
            <a class="up" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up!</a>
        </p>

        <p class="signup-link">
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>

        <p class="signup-link">
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </p>

        <section class="bg-stars">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </section>
    </form>
</div>

<div class="d-flex justify-content-center mt-3">
    <section>
        <h3 class="text-center text-white">Use another service to log in</h3>
        <hr />
        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
                <div>
                    <p class="text-white text-center">
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715" class="text-info">article</a>.
                    </p>
                </div>
        }
        else
        {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                @foreach (var provider in Model.ExternalLogins!)
                {
                            <button type="submit" class="btn btn-primary m-1" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName">
                        @provider.DisplayName
                            </button>
                }
                </form>
        }
    </section>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
