@model IEnumerable<GalacticUniversity.Models.LectureResource>

<div class="container mt-4">
    <h2>Lecture Resources List</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Resource Type</th>
                <th scope="col">Resource Path</th>
            
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ResourceID</th> 
                    <td>@item.ResourceType</td> 
                    <td>@item.ResourcePath</td> 
                  
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="LectureResource" asp-route-id="@item.ResourceID">Edit</a>

                        <form asp-action="Delete" asp-controller="LectureResource" asp-route-id="@item.ResourceID" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
